<!DOCTYPE html>
<html>
<head>
  <title>SocialEventPlanner</title>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Indie+Flower&effect=shadow-multiple">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <%= yield %>
  <%= render 'layouts/footer' %>
</body>
</html>
